* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}
h3 {
    text-transform: uppercase;
    border: 2px solid #2a5cd9;
    color: #2a5cd9;
    padding: 15px 30px;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
}
.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% + 44px);
    left: 0;
    background-color: #2a5cd9;
    transition: all 1s;
    z-index: -1;
}
.wave::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 44px;
    background-image: url("line-water-waves-png-removebg-preview.png");
    top: -44px;
    animation: wavy 0.5s linear infinite;
}
@keyframes wavy {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 144px;
    }
}
h3:hover .wave {
    top: 0;
}
h3:hover {
    color: white;
}
